<html lang="en">
  <head>
      <link href={{url_for('static', filename='style.css')}} rel="stylesheet">
  </head>
  <body style="background-color:powderblue;">
    <h1>Login Error</h1>
      <h2>The given password for the specified account is incorrect.</h2>
      <form  method="post" action={{url_for('login_existing_user')}}>
          <label for="lname">Username:</label><br>
          <input type="text" id="usr" name="usr"><br>
          <label for="lname">Password (Super Scure):</label><br>
          <input type="text" id="passwrd" name="passwrd"><br><br>
          <input type="submit" value="Submit Form">
      </form>
      <a href={{url_for('display_register')}} class="button">Register New Account Instead</a>
  </body>
</html>

