<html lang="en">
  <head>
    <title>Networkr | Link</title>
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">
    <link href={{url_for('static', filename='style.css')}} rel="stylesheet">
  </head>
  <body style="background-image: url('static/network.jpeg');">
    <form class="center-form" method="post" action={{url_for('link_existing_user')}} autocomplete="off">
      <h1>Sign In to Link Account</h1>
      {% if link_error %}
        <h2>{{link_error}}</h2>
      {% endif %}
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email", value={{google_email}}><br>
      <label for="lname">Password:</label><br>
      <input type="text" id="passwrd" name="passwrd"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
