<html lang="en">
  <head>
    <link href={{url_for('static', filename='style.css')}} rel="stylesheet">
  </head>
  <body style="background-color:powderblue;">
    {% if login_error %}
      <h1>Login Error</h1>
      <h2>{{login_error}}</h2>
    {% else %}
      <h1>User Sign In</h1>
    {% endif %}
    <form  method="post" action={{url_for('login_existing_user')}}>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><br>
      <label for="passwrd">Password (Super Secure):</label><br>
      <input type="text" id="passwrd" name="passwrd"><br><br>
      <input type="submit" value="Submit">
    </form>
    <a href={{url_for('display_register')}}>Create New Account</a>
  </body>
</html>